*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.signup-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to bottom right, #f3e8ff, #faf5ff, #ffffff);
}

.signup-card{
    width:430px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(111,66,193,0.2);
}

.signup-card h1{
    text-align:center;
    color:#7c3aed;
    margin-bottom:10px;
}

.signup-card p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#444;
}

.input-group input{
    width:100%;
    padding:12px;
    border:1px solid #d4c3ff;
    border-radius:8px;
    outline:none;
    font-size:15px;
}

.input-group input:focus{
    border-color:#6f42c1;
}

.signup-btn{
    width:100%;
    padding:13px;
    margin-top:10px;
    background:#7c3aed;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.signup-btn:hover{
    background:#6d28d9;
}

.login-link{
    text-align:center;
    margin-top:20px;
    color:#555;
}

.login-link a{
    text-decoration:none;
    color:#7c3aed;
    font-weight:bold;
}

.error{
    color:red;
    font-size:13px;
    margin-top:5px;
    display:block;
}