.verification-container{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#ffffff;

}


.verification-card{

width:380px;
padding:40px;
background:#ffffff;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;

}


.logo{

font-size:45px;
margin-bottom:20px;

}


.verification-card h1{

color:#6d28d9;
margin-bottom:15px;

}


.info{

color:#666;
margin:20px 0;

}


.verify-btn{

width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#7c3aed;
color:white;
font-size:16px;
cursor:pointer;

}


.verify-btn:hover{

background:#6d28d9;

}